{% extends "base.html" %}
{% block content %}

<h2>Availability</h2>

<p>
  I am not available for contracts at the moment.
</p>

<h2>Contact</h2>
For more information, please contact<br/>
<br/>
<div class="address">
James Mitchell</br>
by
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i<32)y++;y%=127;o+=String.fromCharCode(" +
"x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\ELFRDNC[\\\\\\\\037DG^M^QQiay&i" +
"#?*7n\\\\\\\\tu4:43\\\\\\\\024\\\\\\\\016X\\\\\\\\n\\\\\\\\n\\\\\\\\003\\\\" +
"\\\\t'\\\\\\\\005\\\\\\\\010\\\\\\\\037\\\\\\\\005\\\\\\\\013\\\\\\\\014\\\\"+
"\\\\031\\\\\\\\007\\\\\\\\021\\\\\\\\004\\\\\\\\\\\\\\\\\\\\\\\\035\\\\\\\\" +
"021\\\\\\\\001X\\\\\\\\031\\\\\\\\002F\\\\\\\\t\\\\\\\\016\\\\\\\\036\\\\\\" +
"\\027\\\\\\\\033cu?Tagun|l*Zyh|vL32g}azr%E8Xpt}t\\\\\\\\000UM\\\\\\\\003AHG" +
"NDu\\\\\\\\010\\\\\\\\025I@OF\\\\\\\\\\\\\\\\\\\\\\\\r\\\\\\\\035R\\\\\\\\n" +
"\\\\\\\\027\\\\\\\\037\\\\\\\\014\\\\\\\\010\\\\\\\\002\\\"\\\\,32)\\\"(f};" +
")lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;" +
"x=+x{yrt{)35=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x" +
"(f noitcnuf\")"                                                              ;
while(x=eval(x));
//-->
//]]>
</script>

{% endblock %}
