{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content_title %}{% endblock %}
{% block description %}{% endblock %}
{% block body_class %}{% endblock %}
{% block content %}
<section>
  <h2>Quality IT Services</h2>
  <p>Maungawhau IT has been providing quality IT services since 2002.</p>
  <br />
  <div class="slideshow g--centered g-wide--half g-medium--full">
    <ul id="slider" class="shadow rslides list-links">
      <li><img src="/projects/aportio.png" alt="" border="0" /></li>
      <li>
        <img src="/projects/suitebox2-video-meeting.jpg" alt="" border="0" />
      </li>
      <li>
        <img src="/projects/odin-thl-winners.crop.jpg" alt="" border="0" />
      </li>
      <li><img src="/projects/yellow-homepage.jpg" alt="" border="0" /></li>
      <li><img src="/projects/stellarlibrary-home.png" alt="" border="0" /></li>
      <li><img src="/projects/wrappz.co.nz-images.png" alt="" border="0" /></li>
      <li><img src="/projects/nakedgym-home.jpg" alt="" border="0" /></li>
    </ul>
  </div>
</section>

<section class="line-divide">
  <h2>Small is Beautiful</h2>
  <br />
  <p>
    We are a small company, able to be both flexible and agile in development.
  </p>

  <p>
    We are focused on websites, cloud, and e-commerce projects. Something that
    can be delivered in under a month, not several years. Projects which can be
    easily summarised and understood - so our customer knows what is delivered,
    and we know what they expect.
  </p>
</section>

<section class="line-divide">
  <h2>Tools of the Trade</h2>
  <p>
    Maungawhau IT specialises in all things Unix and Linux. This leads naturally
    to webservers, e-commerce, and all things Internet.
  </p>

  <p>
    We have experience delivering containerised solutions using
    <a href="http://www.ubuntu.com/server" target="_blank">Ubuntu</a>,
    <a href="https://www.docker.com/" target="_blank">Docker</a>,
    <a href="https://www.python.org/" target="_blank">Python</a>,
    <a href="https://www.mysql.com/" target="_blank">MySQL</a>, and
    <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
    - and running them with
    <a href="https://kubernetes.io/" target="_blank">Kubernetes</a>
    and running on either
    <a href="https://aws.amazon.com/" target="_blank">Amazon Cloud</a>. or
    <a href="https://azure.microsoft.com/en-us" target="_blank"
      >Microsoft Azure</a
    >.
  </p>
</section>

<section class="line-divide">
  <h2>Recent posts and activity</h2>
  <div class="blog_excerpt">
    {% for section_name in ["posts/_index.md", "projects/_index.md"] -%}
    {% set section = get_section(path=section_name) -%}
    <h3>{{section.title}}</h3>
    {% for page in section.pages -%}
    {% if loop.index > 3 %}{% break %}{% endif %}
    <article class="g--third {% if loop.index % 3 == 0 %}g--last{% endif %}">
    {% include "partial/snippet.html" %}
    </article>
    {% endfor -%}
    <div class="clear"></div>
    {% endfor -%}
  </div>
</section>

{% endblock %}
{% block extra_css %}
<link href="/styles/responsiveslides.css" rel="stylesheet" />
{% endblock %}
{% block javascript %}
<script src="/scripts/jquery-1.7.1.js"></script>
<script src="/scripts/responsiveslides.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#slider").responsiveSlides({
      auto: true, // Boolean: Animate automatically, true or false
      speed: 500, // Integer: Speed of the transition, in milliseconds
      timeout: 4000, // Integer: Time between slide transitions, in milliseconds
      pager: false, // Boolean: Show pager, true or false
      nav: false, // Boolean: Show navigation, true or false
      random: false, // Boolean: Randomize the order of the slides, true or false
      pause: false, // Boolean: Pause on hover, true or false
      pauseControls: true, // Boolean: Pause when hovering controls, true or false
      prevText: "Previous", // String: Text for the "previous" button
      nextText: "Next", // String: Text for the "next" button
      maxwidth: "500", // Integer: Max-width of the slideshow, in pixels
      navContainer: "", // Selector: Where controls should be appended to, default is after the 'ul'
      manualControls: "", // Selector: Declare custom pager navigation
      namespace: "rslides", // String: Change the default namespace used
      before: function () {}, // Function: Before callback
      after: function () {}, // Function: After callback
    });
  });
</script>
{% endblock %}
