<div class="snippet container">
  <header class="g-wide--full g-medium--full">
    <p class="medium">
      <a href="{{page.permalink|safe}}">{{page.title}}</a>
    </p>
    {% if page.extra.client -%}
    <p class="small">
      Client: {{page.extra.client}}, {{page.extra.start|date(format="%B %Y")}}{%
      if page.extra.end %} to {{page.extra.end|date(format="%B %Y")}}{% endif %}
    </p>
    {% else %}
    <p class="small">{{page.date|date(format="%B %d, %Y")}}</p>
    {% endif %} {% include "partial/tags.html"%}
  </header>

  {% if page.extra.image -%}
  {% set img_url = get_url(path=page.extra.image) %}
  {% set image = resize_image(path=page.extra.image, width=100, op="fit_width") %}
  <img
    class="g--full g--centered"
    src="{{image.url}}"
    alt="{{page.extra.image_caption}}"
    title="{{page.extra.image_caption}}"
  />
  {% endif %}
  <p>
    {% if page.summary -%}{{page.summary|safe}}{% else
    %}{{page.content|truncate(length=500)|safe}}{% endif %}
    <a class="small" href="{{page.permalink|safe}}">Read more...</a>
  </p>
</div>
